.cdk-drag-preview {
    background-color: #FFF0;
    box-sizing: border-box;
    border-radius: 4px;
}
.cdk-drag-preview .cdk-drag-handle {
    color: #343a40;
}
.cdk-drag-preview .block-container {
    background-color: #FFF;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.blocks-list.cdk-drop-list-dragging .block-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.block-custom-placeholder {
    background: #e4e4e4;
    border: dotted 2px #ccc;
    min-height: 10em;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.block-box{
    display: flex;
    align-items: center;
}

.cdk-drag-handle i{
    cursor: n-resize;
}
.cdk-drag-handle i{
    margin-right: 5px;
    color: #ccc;
}
.cdk-drag-handle:hover i{
    color: #343a40;
}

.block-container{
    flex: 1;
}


.deleteBtn {
    align-self: baseline;
    right: 1.25rem;
    position: absolute;
}
.deleteBtn .btn{
    color: #a2a3a4;
}